<div class="d-flex">
  <!-- Sidebar -->
  <div class="bg-dark border-right p-3" id="sidebar">
    <h3 class="text-light">
      Gifs-App
    </h3>

    <hr class="text-white">

    <div class="list-group list-reset">
      <a href="#" class="list-group-item list-group-item-action">Dashboard</a>
    </div>
  </div>
  <!-- Fin de sidebar -->

  <div class="container">
    <div class="row p-3">
      <div class="col">
        <h5>Buscar: </h5>
        <input type="text" class="form-control" placeholder="Buscar gifs" />
      </div>
    </div>

    <hr>

    <div class="row">
      <div class="col">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ratione laboriosam totam, obcaecati eligendi ut vel. Aliquam, pariatur laboriosam! Ratione, quod.
      </div>
    </div>
  </div>
</div>