<div class="d-flex">
  <!-- Sidebar -->
  <app-sidebar></app-sidebar>
  <!-- Fin de sidebar -->

  <div class="container">
    <div class="row p-3">
      <div class="col">
        <h5>Buscar: </h5>
        <input type="text" class="form-control" placeholder="Buscar gifs" />
      </div>
    </div>

    <hr>

    <div class="row">
      <div class="col">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ratione laboriosam totam, obcaecati eligendi ut vel. Aliquam, pariatur laboriosam! Ratione, quod.
      </div>
    </div>
  </div>
</div>